<select [(ngModel)] = "filtro">
  <option  *ngFor="let genere of generi; let i=index" [(ngValue)]="genere.id">
      {{genere.nome}}
  </option>
</select>
<div *ngFor="let item of items">
  <div (click)="selectedItem(item)">

    <ng-container *ngIf=" filtro == item.genere.id || filtro == '00' ">
      <p>Nome:{{item.nome}} </p>
      <p>Descrizione: {{item.descrizione}}</p>
      <p>Genere: {{item.genere.nome}}</p>
      <p>Rating: {{item.rating}}</p>
      <p>Prezzo: {{item.prezzo}}</p>
      <p>Anno Di Uscita: {{item.annoUscita}}</p>
    </ng-container>
  </div>
</div>
