<h1 class="title">Lista videogiochi</h1>

      <div *ngFor="let item of items">
        <div (click)="selectedItem(item)">
            <p class="name">{{item.nome}} </p>
            <img [src]="item.image">
            <div class="desc">
              <p>Descrizione: {{item.descrizione}}</p>
              <p>Genere: {{item.genere}}</p>
              <p>Rating: {{item.rating}}</p>
              <p>Prezzo: {{item.prezzo}}</p>
              <p>Anno Di Uscita: {{item.annoUscita}}</p>
          </div>
        </div>
      </div>
