<div class="headerContainer" >
  <div class = "user" style="cursor:pointer">
    {{username}}
  </div>
  <div class="menu">
    <div class="home" routerLink="/home" routerLinkActive="selected">Home</div>
    <div class="lista" routerLink="/lista" routerLinkActive="selected">Lista</div>
    <ng-container *ngIf="admin == true">
    <div class="modifica" routerLink="/modifica/x" routerLinkActive="selected">Modifica</div>
  </ng-container>
    <div class="logout" (click)="logOut()" routerLink="/login" routerLinkActive="selected">Log Out</div>
  </div>
</div>