<img class="popcornimg" src="assets\HomeImg.png">
<div class="wrapper">
    <form class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" required="" autofocus=""/>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required="" />
        <button id="login_button"class="btn btn-lg btn-primary btn-block" (click)="login()" type="button">Login</button>
    </form>
</div>


